:root {
  --actual-height: 100vh;
  --select-height: 8rem;
  --header-height: 3.5rem;
  --header-color: #435b40;
  --accent-color: #506a4d;
  --bg-color: var(--header-color);
  --text-color: #ffffff9c;
  --button-color: #8cd7737e;
  --dark-shade: #00000022;
  --form-width: 100%;
  --form-height: calc(var(--actual-height) - (var(--header-height) * 3));
  
}

*, * *, * * * {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  max-width: 100vw;
  height: var(--actual-height);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-weight: bold; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

input, button, select, option {
  padding: 1rem 0.5rem;
  max-width: 100%;
  background-color: var(--header-color);
  color: inherit;
  font-size: 1.25rem;
  font-weight: inherit;
  text-shadow: inherit;
  border-color: var(--text-color);
  border-radius: inherit;
}

form option {
  font-weight: normal;
  background-color: var(--header-color);
}

form > * {
  border-radius: inherit;
}

p {
  font-size: 2rem;
}

header {
  height: var(--header-height);
  background-color: var(--dark-shade);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  width: 100%;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

form {
  width: var(--form-width);
  height: var(--form-height);
  background-color: var(--header-color);
  display: grid;
  grid-template-columns: 1fr 0.25fr 0.25fr 1fr;
  grid-template-rows: 1fr 1fr 0.6fr 1fr;
  border-radius: 0.75rem;
  padding: 0 calc(var(--form-width) / 16);
}

.full-width-input {
  position: relative;
  border-radius: inherit;
  display: flex;
  grid-column-end: span 4;
}

.full-width-input > input {
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
  border-style: solid;
  border-width: 0.1rem;
  flex-grow: 1;
}

.full-width-input > label {
  position: absolute;
  background-color: var(--header-color);
  font-size: 1.325rem;
  padding: 0.325rem;
}

#base-amount-input::placeholder {
  font-size: 60%;
  color: #aaaaaa94;
  text-shadow: none;
}

#amount-input-area {
  align-self: center;
  align-items: center;
  height: 6rem;
}

#output-area {
  align-self: center;
  height: 6rem;
}

#amount-input-area > label {
  top: 0;
  translate: 0.5rem -50%;
}

#output-area > label {
  position: absolute;
  bottom: 0;
  right: 0;
  translate: -0.5rem 40%;
}

.full-width-input > input {
  height: 100%;
}

#output-area > input {
  pointer-events: none;
}

form > .region-area {
  grid-column-end: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 1%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  gap: 10%;
}

form > #base-area {
  margin-right: calc(var(--form-width) / 24);
}
form > #target-area {
  margin-left: calc(var(--form-width) / 24);
}

.region-area select {
  border-radius: 0.5rem;
  max-height: var(--select-height);
  background-color: var(--accent-color);
  padding-left: 1rem;
}

.region-area label {
  text-align: center;
  font-size: 1.5rem;
}

#convert-button-area {
  grid-column-end: span 4;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  min-height: 5rem;
}

#target-area {
  grid-column-start: 3;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

form select {
  width: 100%;
}

form button {
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 3;
  background-color: var(--button-color);
  font-size: 1.5rem;
  align-self: center;
  justify-self: center;
  padding: 6% 15%;
  transition: opacity 300ms ease;
}

form button:disabled {
  opacity: 0.5;
}

form input {
  padding: 1rem 0.5rem;
}

.arrow-container {
  width: 100%;
	height: 100%; 
	margin: 0 calc(var(--select-height) * 0.325) calc(var(--select-height) * 0.325) 0;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  display: none;
  align-items: center;
  justify-content: center;
  translate: 0 calc(var(--select-height) * 0.25);
  scale: 0.85;
}

.arrow {
  position: relative;
  width: 0;
	height: 0; 
	border: calc(var(--select-height) * 0.325) solid;
	border-color: 
  var(--bg-color)
  var(--bg-color)
		transparent
		transparent;
	transform: rotate(45deg); 
}

.arrow:before {
	content: '';
	position: absolute;
	top: 0.25rem; 
  right: 0.25rem;
	display: block;
  width: calc(var(--select-height) * 0.4);
	height: calc(var(--select-height) * 0.325); 
	background-color: var(--bg-color);
	transform: 
		rotate(-45deg) 
		translate(0.75rem, 1px);
}

form select {
  flex-grow: 1;
}

#target-label {
  translate: 0;
}

#server-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10%;
  translate: 0 100%;
  font-size: 1rem;
  color: rgb(191, 67, 67);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#server-message > p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: inherit;
  line-height: 100%;
}

footer {
  height: var(--header-height);
  background-color: var(--dark-shade);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer > p {
  font-weight: normal;
  opacity: 0.8;
  font-size: 0.9rem;
  width: 33.3%;
  padding: 0 2.5%;
}

#base-amount-input,
#base-currency-input,
#target-currency-input {
  max-height: 6rem;
}

header, footer {
  position: fixed;
  left: 0;
  width: var(--form-width);
  left: 50%;
  translate: -50% 0;
  z-index: 1;
}
header {
  top: 0;
}
footer {
  bottom: 0;
}


@media screen and (min-width: 768px) {
  :root {
    --actual-height: 100vh;
    --form-width: 60vw;
    --form-height: calc(var(--actual-height) - (var(--header-height) * 4));
    --select-height: 6rem;
    --bg-color: #7f857f;
  }
  
  #base-amount-input,
  #base-currency-input,
  #target-currency-input {
    max-height: unset;
  }

  #base-amount-input {
    max-height: 6rem;
  }

  h1 {
    /* font-size: 2rem; */
  }

  header {
    background-color: var(--header-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .arrow-container {
    display: flex;
  }

  .full-width-input {

  }

  form {
    grid-template-rows: 22% 30% 28% 20%;
    padding: calc(var(--form-width) / 12);
    height: var(--form-height);
    flex-grow: unset;
  }

  form > .region-area {
    grid-column-end: span 1;
    border-radius: 0.5rem !important;
    padding: 10% 0;
    margin: 0;
  }

  form button {
    padding: 3% 8%;
  }

  #target-area {
    grid-column-start: 4;
  }

  #amount-input-area {
    align-self: flex-start;
  }
  #output-area {
    align-self: flex-end;
  }

  footer {
    height: 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  footer > p {
    text-align: center;
    padding: 0;
  }

}